@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.card{ 
    @apply bg-slate-100 hover:bg-slate-200 rounded-lg hover:shadow-lg shadow-sm px-5 py-8 text-center break-words w-full flex flex-col justify-center;
}

.hyperlink{
    @apply underline px-5 text-slate-500;
    text-decoration-color: aqua;
}

.hyperlink:hover{
    opacity: 0.8;
    text-decoration-color: blue;
}